<%= form_with(remote: true) do |form| %>
<div class="relative inline-block text-left dropdown-container">
  <div>
    <button type="button" class="inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100" id="menu-button" aria-expanded="true" aria-haspopup="true">
      Tech Stack
      <!-- Heroicon name: mini/chevron-down -->
      <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
      </svg>
    </button>
  </div>

  <!--
    Dropdown menu, show/hide based on menu state.

    Entering: "transition ease-out duration-100"
      From: "transform opacity-0 scale-95"
      To: "transform opacity-100 scale-100"
    Leaving: "transition ease-in duration-75"
      From: "transform opacity-100 scale-100"
      To: "transform opacity-0 scale-95"
  -->
  <div class="absolute right-0 z-10 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none dropdown-content" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
    <div class="py-1" role="none">
      <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
      <% Technology.all.each do |tech| %>
        <div clas="ext-gray-700 block px-4 py-2 w-full text-sm dropdown-item hover:bg-gray-100 hover:text-gray-900 ">
            <%= check_box_tag "tech_stack[]", tech.name, false, id: "tech_stack_#{tech.id}", html: {class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500" }%>
            <%= label_tag "tech_stack_#{tech.id}", tech.name, class: "font-medium text-gray-700" %> <br>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!--input type="button" id="filter_button" value="search"-->
<%end%>
<br><br>

<%#= button_to 'Search', projects_path, method: :post, class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium join-project-button"  %>