<span class='text-sm align-center'>
  Votes: <%= project.votes.count %> <br><br>
</span>
<% unless current_user.has_voted_for?(project) %>
  <%= button_to 'Vote Project', vote_project_path(project), method: :post, class: "text-sm btn join-project-button", data: {project_id: project.id}  %>
<% else %>
  <%= button_to 'Cancel Vote', cancel_vote_path(project), method: :post, class: "text-sm btn-outline bg-red-100", data: {project_id: project.id}  %>
<% end %>