<div class="container mx-auto flex flex-col justify-center">
  <% if notice.present? %>
    <p class="py-2 px-3  bg-primary-500 my-5 text-white font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex flex-col" data-controller="projects">
    <h1 class="mb-8">Innovation Days: Projects</h1>
    <div class="flex justify-between">
      <%= render "filters" %>
    </div>
  </div>

  <div id="projects" class="min-w-full grid grid-cols-1 gap-4 place-content-center mb-8">
    
    <% if !@projects.empty? %>
      <%= render "projects", projects: @projects %>
    <% end %>
    
  </div>

  <div class="ml-[25%] w-1/2 text-center bg-white rounded-md shadow-md px-4 py-5 sm:px-6">
    <h3>Have an idea?</h3>
    <p class="pb-2">Have an idea for a project? Start your own!</p>
    <%= link_to 'Create new project', new_project_path, class: "btn" %>
  </div>
</div>
